Create a new feature flag called "$FLAG_NAME" with type "$FLAG_TYPE" (boolean, string, number, json).

Use the Flagify CLI:
```
flagify flags create $FLAG_NAME --type $FLAG_TYPE --description "$DESCRIPTION"
```